// * {
//     margin: 0;
//     padding: 0;
// }
// #background-image {
//     filter: grayscale(40%);
//     filter: brightness(50%);
//     max-height: 100%;
//     max-width: 100%;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     overflow: auto;
// }
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/Users/ike/Desktop/CW/Sites/figma_landing_page/alesia-kazantceva-XLm6-fPwK5Q-unsplash 1.png"), rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    &>hr {
        border: 1px solid #E2E2E2;
    }
}

$whiteFont: rgba(255,
250,
250,
0.8);
$redFont: rgba(250,
0,
0,
0.8);